{% extends "base.html" %} {% block content %}

<!--TODO: Display the user's name in the h1 title-->
<div class="container">
  <h1 class="title">Welcome,  NISER's Tracker modules assembly local database !</h1>
  <div class="card" >
    <div class="front" style="background-image: url('static/unboxing.jpeg');">
        <p class="large">Unboxing</p>
    </div>
    <div class="back"> 
      <div>
    <div class="title">Date <span class="release_date">2024</span></div>
        <div class="rating">
            <label>NISER</label>
          <i class='fas fa-star star'></i>
        </div>
          <p class="review">Unboxing Stage</p>
        <p class="overview">
         Here you can add , update the unboxing data using the buttoms below
        </p>

        <a href="#" class="button">Update</a>
        <a href="#" class="button delete-button">Add</a>
        <a href="#" class="button delete-button">View</a>

      </div>
    </div>
  </div>

  <!--TODO: Make a GET request to the /download path
  <a href="{{url_for('download')}}">Download Your File</a>-->
</div>
{% endblock %}
