{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}


<main class="mb-4">
  <div class="container">
    <div class="row">
      <!-- Adding Flash message here for users trying to register twice -->
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--Rendering login form here-->
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='comment') }}
        {{render_form(form, novalidate=True, button_map={"add_visual_inspection": "primary"}) }}
      </div>
    </div>
  </div>
</main>

{% endblock %}
